<h1>New Conversation</h1>

<ul>
  <% @users_online.each do |user_online| %>
    <li>
      <%= user_online.user_name %>
    </li>
  <% end %>
</ul>

<% form_for @conversation do |f| %>
  <% @users_online.each do |user_online| %>
    <% fields_for 'participants[]' , user_online do |g| %>

   
      <%= g.check_box :id %>

    <% end %>
  <% end %>
  <%= f.submit "Save" %>
<% end %>

