<h1>Conversation Show</h1>

<p>Participants:</p>

<ul>
	<% @conversation.users.each do |user| %>
		<li><%= user.user_name %></li>
	<% end %>
</ul>

<input type="button" value="Button 1" onClick='conversation_version()'/>	

<script type="text/javascript">
  function conversation_version(){
	alert("asdf");
  }
</script>