<h1>Conversation Show</h1>

<p>Participants:</p>

<ul>
	<% @conversation.users.each do |user| %>
		<li><%= user.user_name %></li>
	<% end %>
</ul>

<h1>Version: </h1><p id="version"></p>

<table id="main_table">
  <thead>
    <tr><td>Line Number</td><td>User</td><td>Message</td></tr>
  </thead>
  <tbody>
    
  
  </tbody>
</table>

<%= text_field_tag 'add_line' %>
<input type="button" value="Send" onClick='submit()', autofocus/>	

<script type="text/javascript">

  var latest_version = 1;
  var url = $(location).attr('href');
  var add_string = "";
  
  function submit(){
    var line = $('#add_line')[0].value;
    
    $.get(
      url + "/add_line", 
      {line: line}, 
      function(data){
        $('#add_line')[0].value = "";
	  }
    );
  };
  
  $(document).ready(
		function(){
			setInterval(function(){
				$.get(
				  url + "/get_version", 
				  function(data){
					if(data.version > latest_version){
						//alert("I am here");
						$('#version')[0].innerHTML = data.version;
						//latest_version = data.version;
						$.get(
              url + "/get_lines",
              {"version": latest_version},
              function(data){
                var i = 0; 
                var add_string = ""; 

                for(i = 0; i < data.lines.length; i++){
                  add_string = "<tr><td>" + data.lines[i].line_number + "</td>" + "<td>" + data.lines[i].user_name + "</td>" + "<td>" + data.lines[i].text + "</td></tr>";
                  $('#main_table tbody').append(add_string); add_string ="";
                };
                
              }
            );
            latest_version = data.version;
					};
				  }
				);
			}, 1000);
		}
  );
  
  
  
</script>