<h1>Conversation Show</h1>

<p>Participants:</p>

<ul>
	<% @conversation.users.each do |user| %>
		<li><%= user.user_name %></li>
	<% end %>
</ul>

<h1>Version: </h1><p id="version"></p>

<table id="main_table">
  <thead>
    <tr><td>User</td><td>Message</td></tr>
  </thead>
  <tbody>
    <% @conversation.lines.each do |line| %>
      <tr><td><%= line.user.user_name %></td><td><%= line.text %></td></tr>
    <% end %>
  
  </tbody>
</table>

<%= text_field_tag 'add_line' %>
<input type="button" value="Send" onClick='submit()', autofocus/>	

<script type="text/javascript">

  var latest_version = 1;
  var url = $(location).attr('href');
  
  function submit(){
    var line = $('#add_line')[0].value;
    
    $.get(
      url + "/add_line", 
      {line: line}, 
      function(data){
        $('#main_table tbody').append("<tr><td>" +  data.user_name + "</td><td>" + data.text + "</td></tr>");
	  }
    );
  };
  
  $(document).ready(
		function(){
			setInterval(function(){
				$.get(
				  url + "/get_version", 
				  function(data){
					if(data.version > latest_version){
						//alert("I am here");
						$('#version')[0].innerHTML = data.version;
						latest_version = data.version;
						$.get(
							url + "/get_lines",
							function(data){
								//$('#main_table tbody').html("");
								var i;
								//alert(data.lines[0].conversation_id);
								for(i = 0; index < data.lines.length; ++index){
									
								};
							}
						);
					};
				  }
				);
			}, 1000);
		}
  );
  
  
  
</script>